name: librahub-library

services:
  library-api:
    build:
      context: ../..
      dockerfile: services/Library/Dockerfile
    container_name: librahub-library-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__LibraryDb=Host=librahub-postgres;Port=5432;Database=librahub_library;Username=librahub_admin;Password=L1br@Hub_DB_2026!S3cur3_P@ss
      - ConnectionStrings__RabbitMQ=amqp://librahub_mq:R%40bb1tMQ_L1br%40Hub_2026%21S3cur3_P%40ss@librahub-rabbitmq:5672/
      - ConnectionStrings__Redis=librahub-redis:6379
      - Library__ConnectionString=Host=librahub-postgres;Port=5432;Database=librahub_library;Username=librahub_admin;Password=L1br@Hub_DB_2026!S3cur3_P@ss
      - Library__IdentityApiUrl=http://librahub-identity-api:8080
      - Library__RabbitMq__HostName=librahub-rabbitmq
      - Library__RabbitMq__Port=5672
      - Library__RabbitMq__UserName=librahub_mq
      - Library__RabbitMq__Password=R@bb1tMQ_L1br@Hub_2026!S3cur3_P@ss
      - Library__RabbitMq__ExchangeName=librahub.events
      - EmailConfig__Host=papercut-smtp
    ports:
      - "60990:8080"
      - "60991:8081"
    networks:
      - librahub-network
    restart: unless-stopped

networks:
  librahub-network:
    external: true
    name: librahub-network

