name: librahub-orders

services:
  orders-api:
    build:
      context: ../..
      dockerfile: services/Orders/Dockerfile
    container_name: librahub-orders-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__OrdersDb=Host=librahub-postgres;Port=5432;Database=librahub_orders;Username=librahub_admin;Password=L1br@Hub_DB_2026!S3cur3_P@ss
      - ConnectionStrings__RabbitMQ=amqp://librahub_mq:R%40bb1tMQ_L1br%40Hub_2026%21S3cur3_P%40ss@librahub-rabbitmq:5672/
      - ConnectionStrings__Redis=librahub-redis:6379
      - Orders__CatalogApiUrl=http://librahub-catalog-api:8080
      - Orders__LibraryApiUrl=http://librahub-library-api:8080
      - Orders__IdentityApiUrl=http://librahub-identity-api:8080
      - EmailConfig__Host=papercut-smtp
      - InternalAccess__ApiKey=librahub_internal_dev_2026
    ports:
      - "60980:8080"
      - "60981:8081"
    networks:
      - librahub-network
    restart: unless-stopped

networks:
  librahub-network:
    external: true
    name: librahub-network

