name: librahub-gateway

services:
  gateway-api:
    build:
      context: ../..
      dockerfile: services/Gateway/Dockerfile
    container_name: librahub-gateway-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - Jwt__SecretKey=1CaAKnS5a3ukmWmB9mRVbh/9/S2FSam6JTMkuEXjVDnUY+AisXUNcwkPtifcGw0cX8W7ybaYQ84YIm6KJDlstA==
      - Jwt__Issuer=LibraHub.Identity
      - Jwt__Audience=LibraHub
      - ReverseProxy__Clusters__identity__Destinations__default__Address=http://librahub-identity-api:8080
      - ReverseProxy__Clusters__catalog__Destinations__default__Address=http://librahub-catalog-api:8080
      - ReverseProxy__Clusters__content__Destinations__default__Address=http://librahub-content-api:8080
      - ReverseProxy__Clusters__orders__Destinations__default__Address=http://librahub-orders-api:8080
      - ReverseProxy__Clusters__library__Destinations__default__Address=http://librahub-library-api:8080
      - ReverseProxy__Clusters__notifications__Destinations__default__Address=http://librahub-notifications-api:8080
      - ConnectionStrings__Redis=librahub-redis:6379
    ports:
      - "5000:8080"
      - "5001:8081"
    volumes:
      - gateway_dataprotection:/root/.aspnet/DataProtection-Keys
    networks:
      - librahub-network
    restart: unless-stopped

volumes:
  gateway_dataprotection:

networks:
  librahub-network:
    external: true
    name: librahub-network

